#board-single .piece.bp,
#board-single .promotion-piece.bp {
  background-image: url("../images/bp.png");
}

#board-single .piece.br,
#board-single .promotion-piece.br {
  background-image: url("../images/br.png");
}

#board-single .piece.bn,
#board-single .promotion-piece.bn {
  background-image: url("../images/bn.png");
}

#board-single .piece.bb,
#board-single .promotion-piece.bb {
  background-image: url("../images/bb.png");
}

#board-single .piece.bq,
#board-single .promotion-piece.bq {
  background-image: url("../images/bq.png");
}

#board-single .piece.bk,
#board-single .promotion-piece.bk {
  background-image: url("../images/bk.png");
}

#board-single .piece.wp,
#board-single .promotion-piece.wp {
  background-image: url("../images/wp.png");
}

#board-single .piece.wr,
#board-single .promotion-piece.wr {
  background-image: url("../images/wr.png");
}

#board-single .piece.wn,
#board-single .promotion-piece.wn {
  background-image: url("../images/wn.png");
}

#board-single .piece.wb,
#board-single .promotion-piece.wb {
  background-image: url("../images/wb.png");
}

#board-single .piece.wq,
#board-single .promotion-piece.wq {
  background-image: url("../images/wq.png");
}

#board-single .piece.wk,
#board-single .promotion-piece.wk {
  background-image: url("../images/wk.png");
}


#board-single .piece.bp.flip::before,
#board-single .promotion-piece.bp.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/bp.png");
}

#board-single .piece.br.flip::before,
#board-single .promotion-piece.br.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/br.png");
}

#board-single .piece.bn.flip::before,
#board-single .promotion-piece.bn.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/bn.png");
}

#board-single .piece.bb.flip::before,
#board-single .promotion-piece.bb.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/bb.png");
}

#board-single .piece.bq.flip::before,
#board-single .promotion-piece.bq.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/bq.png");
}

#board-single .piece.bk.flip::before,
#board-single .promotion-piece.bk.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/bk.png");
}

#board-single .piece.wp.flip::before,
#board-single .promotion-piece.wp.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wp.png");
}

#board-single .piece.wr.flip::before,
#board-single .promotion-piece.wr.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wr.png");
}

#board-single .piece.wn.flip::before,
#board-single .promotion-piece.wn.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wn.png");
}

#board-single .piece.wb.flip::before,
#board-single .promotion-piece.wb.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wb.png");
}

#board-single .piece.wq.flip::before,
#board-single .promotion-piece.wq.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wq.png");
}

#board-single .piece.wk.flip::before,
#board-single .promotion-piece.wk.flip::before {
  
	transform: scale(-1);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-image: url("../images/wk.png");
}